.idea/
.vscode/
*.env

# Node
node_modules/
dist/
.npm/

# Python
.venv/
venv/
__pycache__/
*.pyc

# Embeddings data
backend/ingestion/data

backend/inquiro-env/

# Claude Code
.claude

# Evaluation data and results
backend/evaluation_data/
backend/evaluation_results/
backend/dataset.json
backend/results.json