/* 1. Import Tailwind */
@import "tailwindcss";

/* 2. Global Resets */
/* Prevent the browser window from scrolling. */
html, body, #app {
    height: 100%;
    margin: 0;
    overflow: hidden !important;
}